/*
    monochromatic color-scheme
    
    teal, dark to light
    #00717F
    #84F1FF
    #D0FAFF

    gray, dark to light
    #687D7F
    #A6C8CC
    
    */





body {
    background-color:#00717F;
}

div {
background-color:#A6C8CC;
}

header {
    background-color:#D0FAFF;
}

footer {
    background-color:#D0FAFF;
}

/*CSS for Gridview*/

.cssgridview {
    width: auto;
    margin: 5px 0 10px;
    border: solid 1px #687D7F;
    border-collapse: collapse;
    text-align: center;
}

    .cssgridview td {
        padding: 10px; 
        border:solid 1px;
        color:#D0FAFF;
    }

    .cssgridview th {
        padding: 10px;
        color: #;
        background: #;
    }

    .cssgridview .alt
{
    background-color: #84F1FF;
}



